body {
    font-family: Roboto;
    color: #4d3a37;
    background: linear-gradient(to left, #c39b8c, wheat);
}

@media (min-width: 600px) {

}

#container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 20px;
}

@media screen and (max-width: 800px) {
    #container {
        height: 38rem;
        text-align: center;
        width: 100%;
        background: white;
        -webkit-border-radius: 20px;

    }
}


h1 {
    background: antiquewhite;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p {
    padding-left: 20px;
}

@media screen and (max-width: 800px) {
    p {
        padding-left: 20px;
        font-size: 26px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    p {
        font-size: 23px;
    }
}

form input[type="text"] {
    width: 90px;
}

input {
    padding-left: 20px;
}

#billAmount {
    font-size: 14px;
    color: #8a4b92;
    background-color: #f7f7f7;
    width: 60%;
    padding: 5px 5px 8px 8px;
    border-radius: 10px;
    border: 2px solid grey;
}

@media screen and (max-width: 800px) {
    #billAmount {
        font-size: 21px;
    }
}
@media screen and (min-width: 801px) and (max-width: 1000px) {
    #billAmount {
        font-size: 18px;
    }
}

#amountOfPeople {
    font-size: 14px;
    color: #8a4b92;
    background-color: #f7f7f7;
    width: 57%;
    padding: 5px 5px 8px 8px;
    border-radius: 10px;
    margin-left: 20px;
    border: 2px solid grey;
}

@media screen and (max-width: 800px) {
    #amountOfPeople {
        font-size: 21px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    #amountOfPeople {
        font-size: 18px;
    }
}

#qualityOfService {
    font-size: 25px;
    border-radius: 10px;
    border: 2px solid grey;
    margin-left: 20px;
    width: 62%;
}

@media screen and (max-width: 800px) {
    #qualityOfService {
        font-size: 30px;
        margin-left: 0;
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    #qualityOfService {
        font-size: 24px;
    }
}

button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 40px auto;
    background: #4d3a37;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
    border-radius: 25px;
}

@media screen and (max-width: 800px) {
    button {
        margin: 20px auto;
        font-size: 20px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    button {
        font-size: 18px;
        margin: 20px auto;
    }
}

button:hover {
    background: #4c2827;
    border-bottom-color: #111;
}

button:active {
    position: relative;
    top: 1px;
}

#totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}

#totalTip:before {
    content: "Napiwek";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

#totalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
}